# ignore all files in pycache folder
__pycache__/
.vscode/

# ignore coverage file
.coverage

# ignore generated items
main/text/result/
test/text/result/

# ignore temporary files
try_outs
**/tempCodeRunnerFile*